.card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-text {
    flex-grow: 1;
  }
  
  .card-footer {
    margin-top: 1rem;
  }

  .imageFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .card-footer {
    display: flex;
    flex-direction: column; /* Always stack buttons vertically */
    gap: 10px; /* Add consistent spacing between buttons */
  }
  
  .card-footer button {
    width: 100%; /* Ensure buttons take full width of the container */
  }
  