.card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-text {
    flex-grow: 1;
  }
  
  .card-footer {
    margin-top: 1rem;
  }

  .imageFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }